name: Build and Upload Plugin Zip

on:
  release:
    types: [published]

# +++ بخش جدید: دادن مجوز نوشتن به ربات +++
permissions:
  contents: write
# +++ پایان بخش جدید +++

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Prepare Plugin Structure
      run: |
        mkdir build_temp
        rsync -av --exclude='.git*' --exclude='.github' --exclude='build_temp' ./ build_temp/tappersia/
        rm build_temp/tappersia/update-info.json

    - name: Zip the Plugin
      run: |
        cd build_temp
        zip -r ../tappersia.zip tappersia
        cd ..

    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: tappersia.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}