/* tappersia/assets/css/admin-global.css */
/* Global Admin Styles for Tappersia Menu Icon */

#toplevel_page_tappersia > a > div.wp-menu-image.dashicons-before,
#toplevel_page_tappersia-activate > a > div.wp-menu-image.dashicons-before {
    width: 27px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toplevel_page_tappersia > a > div.wp-menu-image.dashicons-before > img,
#toplevel_page_tappersia-activate > a > div.wp-menu-image.dashicons-before > img {
    padding-top: 0 !important;
    max-width: 100%;
    height: auto;
    margin-left: 5px;
}
